# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\c++_files\ECS_36B\2.1_Top_Common_Words\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
